@import 'reset.css';

html {
  font-size: 10px;
}

h1 {
  color: #00A79D;
  font-size: 8rem;
  padding: 4rem;
}

h3 {
  color: #6d6e71;
  font-size: 5rem;
  font-family: 'Roboto Slab', serif;
}

h6 {
  color: #6d6e71;
  font-size: 2.2rem;
}

p {
  margin-bottom: 3rem;
  color: #939598;
  font-size: 3rem;
  line-height: 3.4rem;
}

img {
  width: 2rem;
  height: 2rem;
}

hr {
  margin-top: 3rem;
  border-color: #d1d3d4;
}

.header {
  font-family: 'Roboto Slab', serif;
  text-align: center;
  background-color: #E5F3F2;
}

.body {
  width: 61%;
  margin: auto;
  font-family: 'Roboto Slab', serif;
}

.input-boxes {
  border: solid #939598 .1rem;
  margin: 1rem;
  height: 5rem;
  width: 60%;
  padding-left: 1rem; 
  font-size: 3rem;
  letter-spacing: .05rem;
}

.input-boxes::placeholder {
    color: #939598;
}

.top-card {
  display: inline-block;
  margin: 2rem auto;
}

.cards {
  font-family: 'Open Sans', sans-serif;
}

#header-box {
  color: #6D6E71;
}

#save-btn {
  width: 60.5%;
  margin-bottom: 3rem;
  background-color: #00A79D;
  border-radius: 0;
  color: #FFF;
  letter-spacing: .05rem;
}

#save-btn:hover {
  background-color: #045E55;
}

#search-field {
  height: 5rem;
  margin: 3rem 0;
  width: 100%;
  padding-left: 1rem;
  letter-spacing: .05rem;
  font-size: 3rem;
  border: solid #939598 .1rem;
}

#search-field::placeholder {
  color: #939598;
}

#delete-btn {
  float: right;
  width: 3.5rem;
  height: 3.5rem;
  background-image: url('images/delete.svg');
  background-repeat: no-repeat;
}

#delete-btn:hover {
  background-image: url('images/delete-hover.svg');
}

#upvote-btn {
  height: 3.5rem;
  width: 3.5rem;
  margin-right: 3rem;
  background-image: url('images/upvote.svg');
  background-repeat: no-repeat;
}
#upvote-btn:hover {
 background-image: url('images/upvote-hover.svg');
}

#downvote-btn {
  height: 3.5rem;
  width: 3.5rem;
  margin-right: 3rem;
  background-image: url('images/downvote.svg');
  background-repeat: no-repeat;
}
#downvote-btn:hover {
  background-image: url('images/downvote-hover.svg');
}


.card-button{
  border: none;
}

.bottom-line {
  display: inline-block;
  vertical-align: middle;
}


@media screen and (max-width: 1600px) {

  #save-btn {
    width: 61%;
  }
}

@media screen and (max-width: 1100px) {

  h1 {
    font-size: 7.5rem;
  }
}

@media screen and (max-width: 750px) {

  h1 {
    font-size: 7rem;
  }
  h3 {
    font-size: 4.5rem;
  }

  h6 {
    font-size: 1.75rem;
  }

  p {
    font-size: 2.5rem;
  }
 
  #delete-btn,
  #downvote-btn,
  #upvote-btn {
    width: 3rem;
    height: 3rem;
  }

}

@media screen and (max-width: 650px) {

  h1 {
    font-size: 6rem;
    padding: 2.4rem;
  }

  .input-boxes {
    width: 80%;
  }

  #input-body {
    height: 15rem;
    text-align: left;
  }

  #save-btn {
    width: 82%;
    height: 6rem;
  }

  .body {
    width: 82%;
  }
}

@media screen and (max-width: 500px) {

  h1 {
    font-size: 5rem;
    padding: 1.8rem;
  }
}

@media screen and (max-width: 400px) {

  h1 {
    font-size: 4rem;
    padding: 1.6rem;
  }

  h3 {
    font-size: 3.6rem;
  }

  p {
    font-size: 2.4rem;
  }
}













