@import 'reset.css';

html {
  font-size: 10px;
}

.header {
  font-family: 'Roboto Slab', serif;
  text-align: center;
  background-color: #E5F3F2;
}

h1 {
  font-size: 8rem;
  color: #00A79D;
  padding: 4rem;
}

h3 {
  font-size: 5rem;
  font-family: 'Roboto Slab', serif;
  color: #6d6e71;
}

h6 {
  color: #6d6e71;
  font-size: 3rem;
}

p {
  color: #939598;
  font-size: 3rem;
  margin-bottom: 3rem;
}

#header-box {
  color: #6D6E71;
}

.input-boxes {
  width: 60%;
  height: 5rem;
  letter-spacing: .05rem;
  margin: 1rem;
  padding-left: 1rem; 
  border: solid #939598 .1rem;
  font-size: 3rem;
}

.input-boxes::placeholder {
    color: #939598;
}

#save-btn {
  background-color: #00A79D;
  color: #FFF;
  border-radius: 0;
  width: 60.5%;
  margin-bottom: 3rem;
  letter-spacing: .05rem;
}

#save-btn:hover {
	background-color: #045E55;
}

.body {
  width: 61%;
  margin: auto;
  font-family: 'Roboto Slab', serif;
}

#search-field {
  letter-spacing: .05rem;
  height: 5rem;
  margin: 3rem 0;
  padding-left: 1rem;
  font-size: 3rem;
  width: 100%;
  border: solid #939598 .1rem;
}

#search-field::placeholder {
  color: #939598;
}
.parent-element {
  font-family: 'Open Sans', sans-serif;
}
#delete-btn {
  float: right;
  width: 4rem;
  height: 4rem;
  background-image: url('images/delete.svg');
  background-repeat: no-repeat;
}

#delete-btn:hover {
  background-image: url('images/delete-hover.svg');
}

#upvote-btn {
  width: 4rem;
  height: 4rem;
  background-image: url('images/upvote.svg');
  background-repeat: no-repeat;
  margin-right: 3rem;
}
#upvote-btn:hover {
 background-image: url('images/upvote-hover.svg');
}

#downvote-btn {
  width: 4rem;
  height: 4rem;
  background-image: url('images/downvote.svg');
  background-repeat: no-repeat;
  margin-right: 3rem;
}
#downvote-btn:hover {
  background-image: url('images/downvote-hover.svg');
}
.top-card {
  display: inline-block;
  margin: 2rem auto;
}

img {
  width: 2rem;
  height: 2rem;
}

.card-button{
  border: none;
}

.bottom-line {
  display: inline-block;
  vertical-align: top;
}

hr {
  margin-top: 3rem;
  border-color: #d1d3d4;
}
/*@media {}*/